<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <div text-center>
      <ion-title>Checkout</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  

  <div class="cart-items">
    <ion-card mode="ios" *ngFor="let item of CartItem; let i = index">
      <ion-card-content>
        <div class="item-img">
          <img style="border-radius: 5vw; " [src]="item.product_image" />
        </div>

        <div class="item-info">
          <p>{{item.product_name}}</p>
          <p>Lotto.LTD</p>
          <p>{{item.price_all_qty  - (item.product_qty * discount)}} RM</p>
        </div>
      </ion-card-content>

      <ion-button size="small" color="primary" fill="clear" (click)="deleteitem(i)" class="floatingDel">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-card>

  </div>

  <div *ngIf="CartItem.length">
    <h2>Total: {{orderTotal}} RM</h2>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input [value]="temouser.name" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Address</ion-label>
      <ion-input [value]="temouser.address" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label> select the withdrawal time  </ion-label> 
      <ion-datetime displayFormat="H:mm" display-timezone="utc"></ion-datetime>
  </ion-item>

  </div>

  <br>
  <br>
  <br>







</ion-content>



<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-button expand="block" color="success" (click)="confirmcart()" routerDirection="forward"
  routerLink="/">Confirm Order</ion-button>
  <ion-button expand="block" class="main-button"  routerDirection="forward"
  routerLink="/tabs/cart">Back to Cart</ion-button>

</ion-footer>