<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <div text-center>
      <ion-title>Checkout</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">

  

  <div class="cart-items">
    <ion-card mode="ios" *ngFor="let item of CartItem; let i = index">
      <ion-card-content>
        <div class="item-img">
          <img style="border-radius: 5vw; " [src]="item.product_image" />
        </div>

        <div class="item-info">
          <p>{{item.product_name}}</p>
          <p>Lotto.LTD</p>
          <p>{{item.price_all_qty  - (item.product_qty * discount)}} RM</p>
        </div>
      </ion-card-content>

      <ion-button size="small" color="primary" fill="clear" (click)="deleteitem(i)" class="floatingDel">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-card>

  </div>

  <div *ngIf="CartItem.length">
    <h2>Total: {{orderTotal}} RM</h2>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input [value]="temouser.name" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Address</ion-label>
      <ion-input [value]="temouser.address" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label> select the withdrawal time  </ion-label> 
      <ion-datetime displayFormat="HH:m" display-timezone="utc" [(ngModel)]="delivtime"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label> Select Payment Method  </ion-label> 
  <ion-select [(ngModel)]="pmethod" name="pmethod" 
  multiple="false" placeholder="Tap to select.."  
  (ionChange)="mSelected()" required >
        <ion-select-option   value="CoD">
         Cash on Delevery
        </ion-select-option>
        <ion-select-option   value="stripe">
          Stripe
         </ion-select-option>
  </ion-select>
  </ion-item>
  <div *ngIf="pmethod && pmethod=='stripe'">
    <hr>
    <ion-item>
      <ion-label position="fixed">Card Number</ion-label>
      <ion-input type="number"  [(ngModel)]="ncard"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">CVV</ion-label>
      <ion-input  type="password"  [(ngModel)]="cvv"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label> Expiry Date  </ion-label> 
      <ion-datetime displayFormat="MMM-YYYY" [(ngModel)]="expdate" display-timezone="utc"></ion-datetime>
      
  </ion-item>
  <ion-button color="primary"[disabled] ="!(this.ncard && this.cvv && this.expdate)"  size="large" (click)="paystripe()">Pay</ion-button>
       
  <hr>
  </div>
  </div>

  <br>
  <br>
  <br>

  <div class="product-slider ion-padding-start">
    
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let item of products; let i = index;">
        
        <ion-col>
          <ion-button [color]="item.wishflag=='1'? 'warning' : 'primary'" class="buttonRight" size="small" (click)="addToWish(item.product_id,i,false)">
            <ion-icon [color]="item.wishflag=='1'? 'primary' : 'warning'" name="heart"></ion-icon>
          </ion-button>
          <img (click)="openProduct(item.product_id,item.product_name)" [src]="item.product_image"/>
          <p>RM{{item.product_price}}</p>
          <h6>{{item.product_name}}</h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>







</ion-content>



<ion-footer translucent="true" class="ion-no-border" mode="md">
  <ion-button expand="block" color="success" [disabled]="!payed" (click)="confirmcart()" routerDirection="forward"
  >Confirm Order</ion-button>
  <ion-button expand="block" class="main-button"  routerDirection="forward" routerLink="/">Back to Cart</ion-button>

</ion-footer>