<ion-header>
  <ion-toolbar color="primary"><ion-button (click)="navtoadd()" slot="end" size="small" ><ion-icon name="add" color="warning"></ion-icon></ion-button>
    <ion-buttons slot="start">
            <ion-back-button defaultHref="" (click)="goBack()"></ion-back-button>
          </ion-buttons>
  <div text-center> <ion-title>category</ion-title></div>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid >
        <ion-row>
            <ion-col *ngFor="let item of categories; let i = index;" size="6" no-padding >
             <ion-card no-padding>
                 <ion-button class="buttonRight" size="small" (click)="deletecat(i)">
                     <ion-icon name="trash"></ion-icon>
                 </ion-button>
                 <ion-button class="buttonLeft" size="small" (click)="openCat(i)" >
                     <ion-icon name="create"></ion-icon>
                 </ion-button>
                 <ion-img class="img" [src]="item.cat_image"  draggable="false"></ion-img>
                 <ion-card-content> 
                          <h6 align="center" style="font-weight: bold;">{{item.cat_name}}</h6>
                       
                 </ion-card-content>
             </ion-card>
             </ion-col>
    
         </ion-row>
     </ion-grid>
</ion-content>
