.buttonRight{
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 0px !important;
    --border-radius: 15px 0px 0px 15px !important;
}
.buttonLeft{
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 0px !important;
    --border-radius: 0px 15px 15px 0px !important;
}